<html>

<head>
	<title>Hello NodeJs</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

	<style>
		.hero-title {
			text-align: center;
			font-size: 3em;
			font-weight: bold;
		}
	</style>
</head>

<body>
	<div class="hero-title">
		Hello NodeJs
	</div>
	<div class="content">
		{{{content}}}
	</div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
</body>

</html>