<h1>Products</h1>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
	<thead>
		<tr>
			<th class="mdl-data-table__cell--non-numeric">ID</th>
			<th>Name</th>
			<th>Code</th>
			<th>Buy Price</th>
			<th>Sell Price</th>
		</tr>
	</thead>
	<tbody>
		{{#each products}}
		<tr>
			<td class="mdl-data-table__cell--non-numeric">{{this.id}}</td>
			<td>{{this.name}}</td>
			<td>{{this.code}}</td>
			<td>{{this.buyPrice}}</td>
			<td>{{this.sellPrice}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>